---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "solarized-dark";

$bg_img: "{{ "/img/blue-bg.jpg" | prepend: site.baseurl }}";

$accent: #005A7C;
$background: #003C52;

body {
  font-family: "Lato", Arial, sans-serif;
  color: white;
}

.floating-header {
  position: fixed;
  top: 0;
  z-index: 1;

  width: 100%;
  text-align: center;
  padding: 15px;

  font-size: 1.5rem;

  background: $background;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  // initially 0, gets changed on scroll
  opacity: 0;
  transition: opacity 0.5s;

  &.visible {
    opacity: 1;
  }
}



header {
  position: fixed;
  width: 100%;

  top: 0;
  z-index: 2;
}

@media(max-width: 768px) {
  .header-list {
    display: none;
  }
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.logo-anchor {
  height: 100%;
}
.logo {
  height: 60px;
  padding: 12px;
  box-sizing: border-box;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

.header-list {
  height: 100%;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;

  padding-left: 0;

  .link-item {
    display: inline-block;
    height: 100%;
  }
}

.link-item {
  padding: 20px;

  color: white;
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}


.hero {
  background-size: cover;
  background-image: url($bg_img);
  font-size: 100%;

  min-height: 100%;
  padding-top: 100px;
  box-sizing: border-box;


}

.title-pane {
  color: white;
  text-align: center;
}

.title-logo {
  height: 200px;
}

.title {
  margin-top: 35px;
  font-size: 5rem;
}

.subtitle {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
}

.scroll-hint {
  text-align: center;
  font-size: 2rem;
  padding: 100px;
}

.content-wrapper {
  background-color: $background;
  padding: 50px;
}

.content {
  max-width: 650px;
  margin: 0 auto;

  font-size: 1.1rem;
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    // hack to get ID anchor links to position correctly
    margin-top: -60px;
    padding-top: 60px;
  }

  a {
    color: white;
  }

  img {
    max-width: 100%;
  }
}

footer {
  background: $background;

  text-align: center;

  padding-top:    50px;
  padding-bottom: 20px;
}
